.input{
    max-width: 33.3%;
}
.font10{
    font-weight: normal;
    font-size: 9px;
}
.padding55{
    padding: 0px 5px 0px 5px;
}
select{
    background-color: white;
    width: 100%;
    margin: 5px;
    padding: 5px;
}
.margin5{
    margin: 5px;
}