.input{
    max-width: 33.3%;
    /*height: 25px;*/
}
.font10{
    font-size: 10px;
    font-weight: normal;
}
.color{
    color: #3e3e3e;
}
.padding55{
    padding: 0px 0px 0px 5px;
}
select{
    background-color: white;
    width: 100%;
    border: none;
    padding: 5px 0px;
}
.margin5{
    margin: 5px;
}
.paddingTop10{
    padding-top: 10px;
}
.marginTop16{
    margin-top: 16px;
}
.padding510p1020{
    padding: 5px 10px 10px 20px;
}
.paddingBottom10{
    padding-bottom: 10px;
}
.padding10{
    padding: 10px;
}
.divList:last-child{
    border-bottom: 1px solid black;
}
.btn{
    line-height: 2; 
}