<div class="page-header span12">
    <h5 class="text-center">PRUFUNG ERFOLGREICH</h5>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn borderLeft background_gray">Apple</a>
            <a href="#" class="btn borderLeft background_gray">Samsung</a>
            <a href="#" class="btn borderLeft background_gray">Sony</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8  col-sm-8 col-xs-8">
            <div class="row fontSize7" *ngIf="states">
                <div class="floatLeft center" *ngFor="let state of states">
                     <div class="round"  [ngStyle]="{'background':state.background}"></div>
                    <div>{{state.value}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  col-sm-6 col-xs-6 paddingLeft10">
                    <strong>METREL</strong>
                    <div class="background_gray padding5 max-width">
                        <div class="divList">
                            fsdlkmsd
                        </div>
                    </div>
                    <div class="background_gray padding5 max-width">
                        <div class="divList">
                            fsdlkmsd
                        </div>
                    </div>
                    <div class="background_gray padding5 max-width">
                        <div class="divList">
                            fsdlkmsd
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="padding5 max-width">
                        <strong>METREL</strong>
                        <div class="background_gray padding5">
                            fsdlkmsd
                        </div>
                    </div>
                    <div class="padding5 max-width">
                        <strong>METREL</strong>
                        <div class="background_gray padding5">
                            fsdlkmsd
                        </div>
                    </div>
                    <div class="padding5 max-width">
                        <strong>METREL</strong>
                        <div class="background_gray padding5">
                            fsdlkmsd
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4  col-sm-4 col-xs-4">
            <div class="background_gray marginTop5">
                <div class="margin10">
                    <div class="border-bottom" *ngIf="config">
                        <div *ngFor="let con of config">
                            <small class="margin5">{{con.key}}</small>
                            <select  class="dropdown">
                                <option value="{{value}}" *ngFor="let value of con.value" [selected]="value">{{value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="borderLight">
                        <div class="row padding5">
                            <div class="col-md-6  col-sm-6 col-xs-6">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                    </div>
                                </div>
                                <div class="font10 ">LOAD</div>
                            </div>
                            <div class="col-md-6  col-sm-6 col-xs-6 ">
                                <button type="button" class="btn btn-success width">Success</button>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom">
                        <div *ngFor="let programm of program" class="input floatLeft padding55">
                            <div class="form-group">
                                <label class="font10" for="usr">{{programm.key}}</label>
                                <input type="text" class="form-control" [value]="programm.value">
                            </div> 
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <button type="button" class="btn btn-success width marginTop5">Start</button>
                    <button type="button" class="btn btn-default width marginTop5 marginButtom10">Stop</button>

                </div>
            </div>
        </div>
    </div>
</div>